.background {
  position: absolute;
  left: 0;
  top: 20vh;
  width: 100%;
  z-index: -1;
}
.main {
  height: 65vh;
}
.section {
  display: flex;
  margin-top: 20vh;
  margin-left: 2vw;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
