@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap");

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Playfair Display", serif;
}
p,
li {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Playfair Display";
}
